@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.menu .ul .li .a:hover{
  background: #fff;
  color: black;
}
.img{
  background: url('w3.jpg')no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}

.wrapper {
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 30ch;
  animation: typing 2s steps(40), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Times New Roman", Times, serif;
  font-size: 6vw;
  font-weight: bold;
  color: white;
}

@keyframes typing {
  from {
    width: 0;
  }
}
   
@keyframes blink {
  50% {
    border-color: transparent
  }
}  